body {
    font-family: 'Crimson Text', serif;
}

.wrapper {
    /* height: 100%; */
    overflow: auto;
    display: table;
}

.inner-wrapper {
    display: table-row;
}

.left {
    width: 250px;
    background-color:  rgba(217, 217, 217, .3);
    display: table-cell;
}

.right{
    border: 2em solid transparent;
    display: table-cell;
}

.bold {
    font-weight:700;
}

.preparty {
    clear:both;
    padding-bottom: .5em;
}

.party {
    float:left;
    width: 100px;
    padding-right:1em;
}

.slideshow {
    display:block;
}

.flickrlink {
    display:none;
}

h1, h2 {
    font-weight: 400;
}

h1 {
    font-size: 2.5em;
    margin:0em;
}

h4 {
    font-weight:700;
    margin-bottom:-1em;
}

table {
    width: 200px;
    padding:0em 1em;
}

/* Homepage only */
#home {
    background: url(images/dancing.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    color: white;
}

#home .wrapper {
    height: 100vh;
}

#home .inner-wrapper {
    height: 100vh;
}

#home .left {
    height: 100vh;
}

#home .right {
    height: 100vh;
    width: 3000px;
    text-align: center;
}

#home a {
    color: white;
}

#home h1 {
    text-shadow: 5px 5px 10px #000;
}

/* Pages that aren't the homepage */
#nothome {
    background-color: #e0e0e0;
    color: black;
}

#nothome .right{
    max-width: 800px;
}

#nothome a {
    color: black;
}

#nothome a:hover {
    color: #3a3a3a;
}

#return {
    display: none;
}

/* Our Story image hack */

.standalone img {
    max-width: 49%;
}

/* Mobile Responsive */

@media only screen and (max-width: 760px) {

    /* Home only */

    #home .wrapper {
        height: auto;
    }

    #home .inner-wrapper {
        height: auto;
        display:block;
    }

    #home .left {
        height: auto;
    }

    #home .right {
        height: auto;
    }

    #home {
        height: 100%;
    }

    #home .left {
        display: block;
        width:100%;
    }

    .space {
        display: none;
    }

    /* Not Home */

    #nothome .left {
        display:none; 
    }

    #return {
        display: block;
    }

    #columns { 
        column-gap: 0px;
    }

    #columns figure {
        width: 100%;
    }

    .party {
        width:50%;
        float:none;
        padding: .5em 1em 1em 0em;
    }

    .afterparty {
        clear:both;
    }


}

/* Higher breakpoint for photos page with wide slideshow */

@media only screen and (max-width: 1100px) {

    .slideshow {
        display:none;
    }

    .flickrlink {
        display:block;
    }

}

